*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.table_rank th{
	background: black;
	color:white;
}
.table_rank tr:nth-child(2n+1){
    background-color: #ccc;
}
.table_rank tr:nth-child(2),
.table_rank tr:nth-child(3),
.table_rank tr:nth-child(4){
	color: red;
}
input[type="text"]{
	margin-top: 20px;
	width:200px;
	transition: .5s;
}
input[type="text"]:focus{
	width:400px;
}

.banner{
	position:relative;
	width: 300px;
	overflow: hidden;
	margin-top: 50px;
}
.banner-container{
	width:300%;
	height: 100%;
	position: relative;
	left:0;
	word-spacing: 0;
	letter-spacing: 0;
	font-size:0;
	transition: .5s left;
}
.banner-container li{
	display: inline-block;
	width:300px;
	height: 100px;
}
.banner-container li:nth-child(1){
    background-color: green;
}
.banner-container li:nth-child(2){
    background-color: blue;
}
.banner-container li:nth-child(3){
    background-color: grey;
}
.banner-controller{
	position: absolute;
	right:0;
	bottom:0;
}
.banner-controller a{
	text-decoration: none;
	width:30px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	display: inline-block;
	text-align: center;
	background: #fff;
	opacity: .5;
}
#img1:target~.banner-container{
	left:0;
}
#img2:target~.banner-container{
	left:-100%;
}
#img3:target~.banner-container{
	left:-200%;
}