body{
    background: url(../img/bg.jpg) center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}
.section {
    text-align: center;
    font: "-webkit-pictograph";
}

#menu {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 10px;
    top: 10px;
    list-style-type: none;
    z-index: 70;
}

#menu li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 14px;
}

#menu a {
    float: left;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

#menu .active a {
    color: #fff;
    background-color: #333;
}


/*
*section1
*/
.section1 h1,
.section1 h2,
.section1 p{
    position: relative;
    opacity: 0;
     }
.section1,
.section2 {
           overflow: hidden;
     }
.section1 h1{
    top:-100%;
}     
.section1 h2{
    right:-100%;
}
.section1 p{
    left: -100%;
}
@media screen and (min-width: 1024px) {

    .section1 h1 {
        color: #fff;
        font-size: 4em;
        font-family: "-webkit-pictograph";
    }
    .section1 h2 {
        font-size: 4em;
    }
    .section1 p {
        font-weight: bolder;
        font-size: 2em;
    }
}

@media screen and (max-width: 1024px) {
    .section1 h1 {
        color: #fff;
        font-size: 2em;
    }
}


/*
*.section2
*/
.section2 .box{
    vertical-align: top;
}
.section2 p{
 font-weight: 400;
 margin:0;
 padding:0;
}
.section2 .left img:hover{
     transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);

    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out; 
}
.section2 .left img{
        transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out; 

}


@media screen and (min-width: 1024px) {
    .section2 .left {
        position: relative;
        left:-50%;
    }
    .section2 .right{
    position: relative;
    right: -50%;
    }
    .section2 .left,
    .section2 .right {
        width: 40%;
        display: inline-block;
    }
    .section {
        vertical-align: top;
    }
    .section2 h1 {
        font-size: 3em;
    }
    .section2 .left,
    .section2 .right {
        padding: 2.5em;
    }
    .section2 .left img {
        width: 100%;
    }
    .section2 .right {
        vertical-align: top;
    }
    .section2 .right p {
        font-size: 1.2em;
        text-align: left;
        text-indent: 2em;
        line-height: 2em;
        font-weight: bold;
    }
}

@media screen and (max-width: 1024px) {
    .section2 .left img {
        width: 100%;
        margin: 0 auto;
    }

    .section2 .left,
    .section2 .right {
        width: 76%;
        margin: 0 auto;
        text-align: left;
    }
}


/*
*section3
*/

.section3 .contain .direIntr .direEach .pic img{
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out; 
    }
.section3 .contain .direIntr .direEach .pic img:hover{
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;   

     transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    opacity: 0.5;
}
@media screen and (min-width: 1024px) {
.frontend,
.lastend,
.android,
.ios{
    opacity: 0;
    position: relative;
    bottom:-100%;
}
    .section3 h1{
        font-size: 3em;
    }
    .section3 .direIntr {
        width: 24%;
        display: inline-block;
        vertical-align: top;
    }
    .section3 .direIntr .direEach .pic {
        padding: 2em;
        background: white;
        border-radius: .2em;
    }
    .section3 .direIntr .direEach {
        width: 80%;
        margin: 0 auto;
    }
    .section3 .direIntr .direEach .pic img {
        width: 100%;
        border-radius: 15em;
    }
    .section3 .direIntr p {
        font-size: 1.2em;
        text-align: left;
        font-weight: 800;
        font-family:  "-webkit-pictograph";
    }
}

@media screen and (max-width: 1024px) {

    .section3 .direIntr .direEach .pic{
        padding-top: 2em;
    }
    .section3 .direIntr .direEach .pic img {
        width: 50%;
    }
    .section3 .direIntr .direEach .caption p{
        width:80%;
        margin:0 auto;
        text-align: left;
        text-indent: 2em;
        padding: 2em;

    }
 
}


/*
*.section4
*/

@media screen and (min-width: 1024px) {
.section4 .session,
.section4 .test,
.section4 .interview,
.section4 .lasttest{
    position: relative;
    right:-600%;
}
.secion4 .contain{
    background: white;
}
.section4 h1{
    line-height: 2em;
    height: 2em;
    font-size: 3em;
    letter-spacing: 1em;
    margin-top: -2em;
}
.section4 .recruitNew .step .shape {
    width: 16em;
    height: 16em;
    border-radius: 8em;
    opacity: 0.5;
    background: white;
    color:black;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
.section4 .recruitNew .step .shape:hover {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;

    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    background: black;
    color:white;
}
.section4 .recruitNew .step .shape h3,
.section4 .recruitNew .step .shape p {
    text-align: center;
    font-family: "-webkit-pictograph";
    font-size: 1.5em;
}
.section4 .recruitNew .step .shape h3 {
    padding-top: 2em;
}
.section4 .contain .recruitNew .step {
    width: 80%;
    margin: 0 auto;
}
.section4 .contain .recruitNew {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}
}
@media screen and (max-width: 1024px){
.section4 h1{
    font-size: 1.2em;
}

.section4 p{
    text-align: center;
}
.section4 .recruitNew{
    width: 50%;
    margin:0 auto;
}
.section4 .recruitNew{
    background: white;
    opacity: .8;

    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
.section4 .recruitNew:hover{
    background: black;
    color: white;
    
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);

    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
}
/*
*.section5
*/

.section5 #content{
    width: 80%;
    margin:0 auto;
}
.section5  .box .input-title,
.section5 textarea{
    display: inline-block;
    text-align: right;
    margin-top: 1.5em;
    border-radius: 0.2em;
}
.section5  .box .input-title{
    width:30%;
}
.section5 .box{
    width: 100%;
}
.section5 .input-select,
.section5 textarea,
.section5  input,
.section5  input:hover,
.section5  input:focus{
    height: 2.5em;
    width: 55%;
    border-radius:.5em;
    -webkit-border-radius:.5em;
    -moz-border-radius:.5em;
}

.section5  input:hover,
.section5  input:focus,
.section5 textarea:hover,
.section5 textarea:focus{
    -webkit-box-shadow: 0 0 10px #13A00D;
    -moz-box-shadow: 0 0 10px #13A00D;
    box-shadow: 0 0 10px #13A00D;
}
.section5 textarea{
vertical-align: top;
text-align: left;
height: 5em;
resize:none;
overflow-y:auto;
}

.section5 input[type=submit]{
   line-height: 3em;
   height: 3em;
   margin:2em auto; 
   display:block; 
   font-family: " -webkit-pictograph";

}
.section5 h1 span{
    font-size: .5em;
}
.section5 .sup{
    font-weight: bolder;
}


@media screen and (min-width: 1024px) {
.section5 input[type=submit]{
        width:20%;
    }
.section5 h1{
    font-size: 3em;
    letter-spacing: .3em;
    line-height: .1em;
}
.section5 h1 span{
    letter-spacing: .1em;
}
.section5 .left,
.section5 .right{
    width:48%;
    display: inline-block;
}

}
@media screen and (max-width: 1024px){
    .section5{
        padding-top: 4em;
    }
    .section5 textarea{
        height: 13em;
    }
}
