*{
	padding:20px;
	margin:0;
}
.flex_box,
.flex > div{
	box-sizing: border-box;
}
.flex_box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border:1px solid #ccc;

}

.flex_box > div{
   width:150px;
   border:1px solid #f00;
   padding: 0;
   margin-top: 10px;
}
.flex_box .first{
	height: 120px;
}
.flex_box .second{
	height:100px;
}
.flex_box .third{
	height:40px;
}
.flex_box .fourth{
	height: 200px;
	border: 1px solid blue;
}
@media all and (max-width: 640px){
.flex_box .fourth{
	order:-1;
}	
.flex_box{
	flex-wrap: wrap;
	align-items: flex-start;
}
}